// font-weight helper:

// 100 Extra Light or Ultra Light;
// 200 Light or Thin; 300 Book or Demi;
// 400 Regular or Normal;
// 500 Medium;
// 600 Semibold or Demibold;
// 700 Bold;
// 800 Black or Extra Bold or Heavy;
// 900 Extra Black or Fat or Ultra Black


@mixin font($f-name, $f-style, $f-weight, $f-url) {
	@font-face {
		font-family: $f-name;
		font-style: $f-style;
		font-weight: $f-weight;
		src: url($f-url) format('woff2');
	}
}



@include font('Roboto', bold, 700, '../fonts/Roboto-Bold.woff2');
@include font('Roboto', regular, 400, '../fonts/Roboto-Regular.woff2');
@include font('Roboto', light, 200, '../fonts/Roboto-Light.woff2');
@include font('Roboto', medium, 500, '../fonts/Roboto-Medium.woff2');
