.place__title {
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .place__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* 43 тут стояло специально для переноса как в макете. */
    font-size: 42px;
    line-height: 46px;
    padding-left: initial;
    padding-right: initial;
  }
}

@media (min-width: 1024px) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
