.photos-places {
  display: grid;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 64px;
}

@media (min-width: 768px) {
  .photos-places {
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 16px), 1fr));
    gap: 16px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 88px;
  }
}

@media (min-width: 1024px) {
  .photos-places {
    grid-template-columns: repeat(auto-fit, minmax(calc(33% - 16px), 1fr));
    gap: 14px;
    padding-left: 48px;
    padding-right: 48px;
    margin-top: 92px;
  }
}

@media (min-width: 1280px) {
  .photos-places {
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 16px), 1fr));
    gap: 16px;
    margin-top: 92px;
  }
}
