.place__like-button {
  flex-shrink: 0;
  width: 22px;
  height: 19px;
  background-color: transparent;
  background-image: url(../../../assets/images/like.svg#like-disable);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  transition: opacity .6s;
  padding-left: 0;
  padding-right: 0;
  margin-left: 30px;
}

.place__like-button:hover {
  opacity: .6;
}