@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src:
    local('Inter'),
    url('Inter/Inter-Regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src:
    local('Inter'),
    url('Inter/Inter-Medium.woff') format("woff");
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  src:
    local('Inter'),
    url('Inter/Inter-Black.woff') format("woff");
}
