@import '../vendor/normalize.css';
@import '../assets/fonts/fonts.css';

@import '../variables/variables.css';

@import '../blocks/root/root.css';
@import '../blocks/page/page.css';
@import '../blocks/content/content.css';

@import '../blocks/header/header.css';
@import '../blocks/header/__logo/header__logo.css';
@import '../blocks/header/__lang/header__lang.css';
@import '../blocks/header/__lang-item/header__lang-item.css';
@import '../blocks/header/__lang-link/header__lang-link.css';
@import '../blocks/header/__lang-link/_selected/header__lang-link_selected.css';

@import '../blocks/hero/hero.css';
@import '../blocks/hero/__title/hero__title.css';
@import '../blocks/hero/__subtitle/hero__subtitle.css';
@import '../blocks/hero/__figure/hero__figure.css';
@import '../blocks/hero/__image/hero__image.css';
@import '../blocks/hero/__image-caption/hero__image-caption.css';

@import '../blocks/interesting/interesting.css';
@import '../blocks/interesting/__title/interesting__title.css';
@import '../blocks/interesting/__text/interesting__text.css';
@import '../blocks/interesting/__list/interesting__list.css';
@import '../blocks/interesting/__list-item/interesting__list-item.css';
@import '../blocks/interesting/__term/interesting__term.css';
@import '../blocks/interesting/__details/interesting__details.css';

@import '../blocks/photos-places/photos-places.css';
@import '../blocks/photos-places/__photo/photos-places__photo.css';

@import '../blocks/places/places.css';

@import '../blocks/place/place.css';
@import '../blocks/place/__title/place__title.css';
@import '../blocks/place/__info/place__info.css';
@import '../blocks/place/__info-term/place__info-term.css';
@import '../blocks/place/__info-desc/place__info-desc.css';
@import '../blocks/place/__info-desc-link/place__info-desc-link.css';
@import '../blocks/place/__image/place__image.css';
@import '../blocks/place/__description/place__description.css';
@import '../blocks/place/__description-text/place__description-text.css';

@import '../blocks/cover/cover.css';
@import '../blocks/cover/__link/cover__link.css';
@import '../blocks/cover/__title/cover__title.css';
@import '../blocks/cover/__subtitle/cover__subtitle.css';

@import '../blocks/footer/footer.css';
@import '../blocks/footer/__nav-list/footer__nav-list.css';
@import '../blocks/footer/__nav-item/footer__nav-item.css';
@import '../blocks/footer/__nav-link/footer__nav-link.css';
@import '../blocks/footer/__copyright/footer__copyright.css';
